.cell {
  @include x-y-centered;
  background: #ddd;
  box-shadow: inset 0 -2px 0 #aaa, inset 2px 0 0 #ccc;
  border-radius: 3px;
  cursor: pointer;
  &.visible {
    background: #ececec;
    box-shadow: none;
    cursor: default;
  }
  &.has-bomb {
    background: #faa;
  }
  p {
    font-weight: bold;
    &.nb-1 {
      color: blue;
    }
    &.nb-2 {
      color: green;
    }
    &.nb-3 {
      color: red;
    }
    &.nb-4 {
      color: darkblue;
    }
    &.nb-5 {
      color: darkred;
    }
    &.nb-6 {
      color: teal;
    }
    &.nb-7 {
      color: black;
    }
    &.nb-8 {
      color: purple;
    }
  }
}
