@import "variables";
@import "mixins";
@import "header";
@import "grid";
@import "cell";

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flexed-column;
  user-select: none;
  main {
    @include x-y-centered;
    flex-grow: 1;
  }
}
