header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d2733;
  color: #dee5f2;
  padding: 0.5rem; }
  header > *:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 110px; }
  header #game-mode {
    color: #dee5f2;
    border: none;
    outline: none; }
    header #game-mode option {
      background: #1d2733; }
  header .fa-sync-alt {
    font-size: 1.3rem; }
  header #data {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header #data div {
      display: flex;
      align-items: center; }
      header #data div p {
        margin-left: 0.3rem; }

#grid {
  display: grid;
  gap: 1px;
  width: 90%; }

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  box-shadow: inset 0 -2px 0 #aaa, inset 2px 0 0 #ccc;
  border-radius: 3px;
  position: relative; }
  .cell:before {
    content: "";
    background-color: #ff8282;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001); }
  .cell.visible {
    background: #ececec;
    box-shadow: none;
    cursor: default; }
  .cell.has-bomb {
    background: #faa; }
  .cell .fa-flag {
    color: #ff0000; }
  .cell p {
    font-weight: bold; }
    .cell p.nb-1 {
      color: #0000ff; }
    .cell p.nb-2 {
      color: #008000; }
    .cell p.nb-3 {
      color: #ff0000; }
    .cell p.nb-4 {
      color: #00008b; }
    .cell p.nb-5 {
      color: #8b0000; }
    .cell p.nb-6 {
      color: #008080; }
    .cell p.nb-7 {
      color: #000000; }
    .cell p.nb-8 {
      color: #800080; }

.dialog-window {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  color: #dee5f2;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }
  .dialog-window figure {
    font-size: 1.2rem; }
    .dialog-window figure .restart {
      width: 100%;
      text-align: center;
      cursor: pointer; }
      .dialog-window figure .restart i span {
        font-family: "Roboto", sans-serif;
        margin-left: 1rem; }

#victory-window {
  letter-spacing: 0.1rem; }
  #victory-window figure {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    height: 30vh;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden; }
    #victory-window figure #text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      padding: 0 1rem;
      color: #1d2733; }
      #victory-window figure #text #congratulations {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 2rem; }
      #victory-window figure #text p {
        line-height: 1.8rem;
        text-align: center; }
    #victory-window figure .restart {
      background: #1d2733;
      padding: 1rem 0; }
      #victory-window figure .restart i span {
        font-family: "Roboto", sans-serif;
        margin-left: 1rem; }

#loss-window {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); }
  #loss-window p {
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center; }
  #loss-window .restart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px; }

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  user-select: none; }
  body main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; }

button {
  border: 0;
  box-shadow: none;
  outline: none;
  cursor: pointer; }
