#dialog-window {
  @include x-y-centered;
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1rem;
  form {
    @include flexed-column;
    background: white;
    height: 30vh;
    width: 90%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    overflow: hidden;
    #text {
      @include column-centered;
      flex-grow: 1;
      padding: 0 1rem;
      color: $darkblue;
      #congratulations {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 2rem;
      }
      p {
        line-height: 1.8rem;
        text-align: center;
      }
    }
    .restart {
      background: $darkblue;
      color: $white;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      i span {
        font-family: "Roboto", sans-serif;
        margin-left: 1rem;
      }
    }
  }
}
