header {
  @include y-centered-x-space-between;
  background: $darkblue;
  color: $white;
  padding: 0.5rem;
  & > *:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 110px;
  }
  #game-mode {
    color: $white;
    border: none;
    outline: none;
    option {
      background: $darkblue;
    }
  }
  .fa-sync-alt {
    font-size: 1.3rem;
    cursor: pointer;
  }
  #data {
    @include y-centered-x-space-between;
    div {
      @include y-centered;
      p {
        margin-left: 0.3rem;
      }
    }
  }
}
