#victory-window {
  letter-spacing: 0.1rem;
  figure {
    @include flexed-column;
    background: #ffffff;
    height: 30vh;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    #text {
      @include column-centered;
      flex-grow: 1;
      padding: 0 1rem;
      color: $darkblue;
      #congratulations {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 2rem;
      }
      p {
        line-height: 1.8rem;
        text-align: center;
      }
    }
    .restart {
      background: $darkblue;
      padding: 1rem 0;
      i span {
        font-family: "Roboto", sans-serif;
        margin-left: 1rem;
      }
    }
  }
}
